*{
    margin: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    text-align: center;
  
  padding-top: 30px;
  padding-bottom: 30px;
  
    
}
.topo{
    background-color: rgb(246, 98, 98);
}
.container p a{
    padding: 0 5px;
    text-decoration: none;
    color: #250E62;
    
}
.container h1{
    font-weight: bold;
    margin-bottom: 5px;
}
.container h2{
color: rgb(200,16,46);
font-weight: 300;
font-size: 24px;
margin-bottom: 40px;
}
.container span{
    color: rgb(200,16,46);
    
}
 .ima-imovel{
    width: 400px;
   
}
.container p{
    font-size: 14px;
    line-height: 42px;
    width: 750px;
    margin: 10px auto;
    
   
}

.container ol li{
    width: 135px;
    margin: 30px auto 40px;
}
.cor-fundo{
    background-color: rgb(200,16,46);
}
.cor-fundo h2,.paragrafo ,ol{
    color: white;
}
.paragrafo2{
    background-color: black;
    color: white;
    font-size: 12px;
 
 
}




